<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{ifset title}{include title|striptags} | {/ifset}Doornock</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="{$basePath}/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/AdminLTE/css/AdminLTE.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/AdminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/font-awesome/css/font-awesome.min.css">
	<link rel="shortcut icon" href="{$basePath}/assets/app/images/favicon.ico">
	{block head}{/block}
</head>
<!-- ADD THE CLASS layout-boxed TO GET A BOXED LAYOUT -->
<body class="hold-transition skin-blue layout-boxed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

	<header class="main-header">
		<!-- Logo -->
		<a n:href=":Admin:Dashboard:" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><img src="{$basePath}/assets/app/images/Login-Door.png" width="25px" alt="o" /></span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><img src="{$basePath}/assets/app/images/Login-Door.png" width="25px" alt="o" /> <b>Door</b>nock</span>
		</a>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>
			<!-- /.search form -->

			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					{*
					<!-- Messages: style can be found in dropdown.less-->
					{include _snippets/messages.latte}
					<!-- Notifications: style can be found in dropdown.less -->
					{include _snippets/tasks.latte}
					<!-- Tasks: style can be found in dropdown.less -->
					{include _snippets/tasks.latte}
					<!-- User Account: style can be found in dropdown.less -->
					{include _snippets/user.latte}
					*}
					{include _snippets/shortUser.latte}
				</ul>
			</div>
		</nav>
	</header>

	<!-- =============================================== -->

	<!-- Left side column. contains the sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu">
				<li class="header">Navigation</li>
				<li n:class="treeview, $presenter->isLinkCurrent('UserDetail:default') ? active">
					<a n:href="UserDetail:"><i class="fa fa-user-secret"></i> <span>Your account</span></a>
				</li>
				<li class="treeview active" n:if="$user->isAllowed('admin')">
					<a href="#">
						<i class="fa fa-warning"></i>
						<span>Admin</span>
						{*<span class="label label-primary pull-right">4</span>*}
					</a>
					<ul class="treeview-menu">
						<li n:class="$presenter->isLinkCurrent('User:') ? active"
						 n:if="$user->isAllowed('admin_users')">
							<a n:href="User:"><i class="fa fa-user"></i> Users</a>
						</li>
						<li n:class="$presenter->isLinkCurrent('Node:') ? active"
						    n:if="$user->isAllowed('admin_nodes')">
							<a n:href="Node:"><i class="fa fa-bolt"></i> Nodes</a>
						</li>
					</ul>
				</li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- =============================================== -->

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">

		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1 n:ifset="#title">{include #title}</h1>

		</section>

		<!-- Main content -->
		<section class="content">

			<div n:if="$flashes">
				<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
			</div>

			{include content}
		</section>


	</div><!-- /.content-wrapper -->


	<!-- Control Sidebar -->
	<!-- Add the sidebar's background. This div must be placed
		   immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->

<script src="{$basePath}/assets/jQuery/js/jQuery-2.1.4.min.js"></script>
<script src="{$basePath}/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{$basePath}/assets/nette/nette.ajax.js"></script>
<script src="{$basePath}/assets/AdminLTE/js/app.min.js"></script>
<script src="{$basePath}/assets/qrcode/qrcode.min.js"></script>
<script src="{$basePath}/assets/app/js/main.js"></script>
</body>
</html>
